header {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ4ose3Ohd0kC37ELjVOcaTDF-NfdtGe29u-Q&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
}

.section-container-gray-bg {
    background: #f8f8f8;
}

.section-container-image-bg,
.section-container-image-bg h2,
.section-container-image-bg h3 {
    color: #fff;
}

.section-container-image-bg .divider-1 span {
    border-color: #fff;
}

.section-description {
    margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
    padding: 0 120px;
}

.section-container-image-bg .section-description p {
    opacity: 0.8;
}

.section-bottom-button {
    padding-top: 60px;
}

.section-1-box {
    padding-top: 30px;
    text-align: left;
}

.section-1-box .section-1-box-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background: #7762ac;
    font-size: 40px;
    color: #fff;
    line-height: 80px;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
}

.section-1-box h3 {
    margin-top: 0;
    padding: 0 0 10px 0;
}


/***** Section 2 *****/

.section-2-box {
    margin-top: 30px;
    text-align: left;
}

.section-2-box h3 {
    margin-top: 0;
}

.section-2-box-text .medium-paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
}


/***** Section 3 *****/

.section-3-box {
    margin-top: 30px;
    text-align: left;
}

.section-3-box .section-3-box-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background: #7762ac;
}

.section-3-box h3 {
    margin-top: 0;
    padding: 0 0 10px 0;
}

footer {
    background-color: grey;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}